.newrecipes-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.5em;
  margin-left: 0.5em;
}

@media (max-width: 29em) {
  .newrecipes-box {
    row-gap: 0.1em;
    column-gap: 0.1em;
    margin-left: 0;
  }
}

.newrecipes-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 14em;
  transition: 0.3s;
  background-color: var(--contourColor);
  height: 14em;
  max-width: 14em;
}

@media (max-width: 32em) {
  .newrecipes-card {
    max-width: unset;
    flex: 1 1 100%;
  }
}

.newrecipes-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.newrecipes-card #image {
  align-content: center;
  max-width: 100%;
  max-height: 10em;
  flex-shrink: 1;
  flex-grow: 1;
}

.newrecipes-card #image img {
}

.newrecipes-card #content {
  max-width: 100%;
}

.newrecipes-card #title {
  padding: 0.3em;
  padding-top: 0.5em;
  color: var(--textHeaderColor);
  font-weight: bold;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.newrecipes-card #subtitle {
  padding: 0.3em;
  font-size: smaller;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.newrecipes-default-icon {
  max-width: 6em;
  max-height: 6em;
  background-color: var(--color5);
  filter: opacity(40%);
}
