.recipe-list {
  overflow-x: auto;
}

.recipe-list table {
  width: 100%;
}

@media screen and (max-width: 48em) {
  .recipe-list table tr th:nth-child(n + 3),
  .desktop-only {
    display: none;
  }
}

.recipe-list-pagination {
  text-align: center;
}

.recipe-list-pagination button {
  background: none !important;
  border: none;
}

.recipe-list-icon {
  max-width: 150px;
  max-height: 150px;
  border: 1px solid var(--contourColor);
}

.recipe-list-default-icon {
  max-width: 150px;
  max-height: 150px;
  background-color: var(--color5);
  border: 1px solid var(--contourColor);
  filter: opacity(40%);
}
