#parse("views/components/head.html")
<body>
<div id="layout">
    #parse("views/components/menu.html")
    <div id="main">
        <div class="header">
            <h4>$translations.get("import.gourmet")</h4>
        </div>
        <div class="content centered">
            <form method="post" action="/import" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <input type="submit" value="$translations.get('import.submit')">
            </form>
            #if ($error)
            <div class="error">
                $translations.get("import.error")
            </div>
            #end
        </div>
    </div>
</div>
</body>
#parse("views/components/foot.html")