#parse("views/components/head.html")
<body>
<div class="splash content centered">
    <img class="pure-img login-image" src="/res/saltAndPepper.png" />
    <form class="pure-form pure-form-aligned" method="post" action="/login">
        <fieldset class="pure-control-group">
            <input type="text" name="username" id="username" placeholder='$translations.get("login.username")' class="pure-input-1-2" />
            <input type="password" name="password" id="password" placeholder='$translations.get("login.password")' class="pure-input-1-2" />
        </fieldset>

        <input type="submit" value='$translations.get("login.submit")' class="pure-button pure-button-primary pure-input-1-2"/>
    </form>
    #if( $errors )
    <span style="color: red;">$translations.get("login.failed")</span>
    #end
</div>
</body>
#parse("views/components/foot.html")