#macro(imageGallery $recipeId, $images, $uploadAllowed)
<div id="image-gallery">
    <div class="pure-g">
        #foreach($image in $images)
        <div class="pure-u-1-5 image-gallery-image">
            <a href="#image-$image.id">
                <img class="pure-img" src="$image.url"/>
            </a>
            <a onclick="deleteRecipeImage('$recipeId', '$image.id');" class="image-gallery-image-button">X</a>
        </div>
        <div class="image-gallery-lightbox" id="image-$image.id">
            <img src="$image.url"/>
            <a class="image-gallery-lightbox-close" href="#"></a>
        </div>
        #end
    </div>
    #if($uploadAllowed)
    <a onclick="toggleHidden('image-gallery.upload')"
       class="pure-button">$translations.get('imageGallery.toggleUpload')</a>
    <div id="image-gallery.upload" class="image-gallery-upload" style="visibility: hidden; height: 0px;">
        <form action="/recipe/$recipeId/images" method="post" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/png, image/jpeg"/>
            <br />
            <input type="submit" class="pure-button" value="$translations.get('imageGallery.upload')"/>
        </form>
    </div>
    #end
</div>
#end