#macro(menu_item $name $href $active)
#if ($active)
<li class="pure-menu-item pure-menu-selected">
#else
<li class="pure-menu-item">
#end
    <a href=$href class="pure-menu-link">$name</a>
</li>
#end

<a href="#menu" id="menuLink" class="menu-link">
    <span></span>
</a>

<div id="menu">
    <div class="pure-menu">
        <ul class="pure-menu-list">
            #menu_item($translations.get("menu.search") "/search" $menu.isActive("SEARCH"))
            #menu_item($translations.get("menu.newRecipe") "/recipe/new" $menu.isActive("NEW_RECIPE"))
            #menu_item($translations.get("menu.import") "/import" $menu.isActive("IMPORT"))
            #menu_item($translations.get("menu.logout") "/logout" false)
        </ul>
    </div>
</div>