<div class="pure-menu pure-menu-horizontal centered-text">
    <ul>
        #if($firstPageUrl)
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="$firstPageUrl">$translations.get("pagination.first")</a>
        </li>
        #end
        #if($prevPageUrl)
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="$prevPageUrl">&#10218;</a>
        </li>
        #end
        <li class="pure-menu-item pure-menu-selected">
            <a class="pure-menu-link" href="#">$currentPageNumber</a>
        </li>
        #if($nextPageUrl)
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="$nextPageUrl">&#10219;</a>
        </li>
        #end
        #if($lastPageUrl)
        <li class="pure-menu-item">
            <a class="pure-menu-link" href="$lastPageUrl">$translations.get("pagination.last")</a>
        </li>
        #end
    </ul>
</div>